* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #1a1a1a; }

.nav {
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: #1a1a1a; }

.navContent {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px; }

.navLine {
  border: none;
  height: 1px;
  background-color: #f7e1a8;
  position: fixed;
  width: 100%; }

.navImg {
  height: 50px;
  align-self: center; }

.navOrder {
  width: 55px;
  margin: 0px 7px; }

.navArrow {
  width: 45px;
  margin: 0px 7px; }

.logOut {
  line-height: 80%;
  margin: 0px 7px;
  width: 45px; }

.mainContent {
  padding-top: 55px; }

.section {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 32vh;
  min-height: 150px; }

.favSection {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 46vh; }

.favItems {
  width: 90%;
  align-self: center;
  padding: 15px 10px;
  background-color: #1a1a1a; }

.menuOption {
  width: 90vw;
  max-width: 550px;
  margin: 0 auto;
  padding-top: 30px; }

.menuButton {
  background-color: #1a1a1a;
  color: #dabf8a;
  font-size: 30px;
  align-self: center;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: bookmania, serif;
  font-style: normal;
  font-weight: bold; }

.yellowButton {
  background-color: #dabf8a;
  color: #1a1a1a;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: bookmania, serif;
  font-style: normal;
  font-weight: bold; }

.yellowHeader {
  text-decoration: none;
  color: #dabf8a;
  font-size: 20px;
  font-family: bookmania, serif;
  font-style: normal;
  font-weight: bold; }

.smallText {
  color: #faf5e3;
  font-size: 15px;
  padding-bottom: 5px;
  font-family: sans-serif; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.clear {
  clear: both; }

.alignCenter {
  align-self: center; }

.flexJust {
  display: flex;
  justify-content: space-around; }

.botPad {
  padding-bottom: 30px; }

.topHome {
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center; }

.bottomHome {
  height: 25vh;
  width: 100%;
  text-align: center; }

.input {
  background-color: #faf5e3;
  width: 225px;
  font-size: 20px;
  border: none;
  margin: 10px; }

.XlargeButton {
  background-color: #dabf8a;
  color: #1a1a1a;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: bookmania, serif;
  font-style: normal;
  font-weight: bold;
  padding: 5px 90px; }

.FnS {
  background-image: url("../images/tap.jpg");
  background-position: top center; }

.drinks {
  background-image: url("../images/beer2.jpg"); }

.breakfast {
  background-image: url("../images/eggs.jpg"); }

.snacks {
  background-image: url("../images/wedges.jpg"); }

.BnS {
  background-image: url("../images/burger.jpg"); }

.pizza {
  background-image: url("../images/pizza.jpg"); }

.dinner {
  background-image: url("../images/dinner.jpg"); }

.desserts {
  background-image: url("../images/icecream.jpg"); }

.kMenu {
  background-image: url("../images/nachos.jpg");
  background-position: bottom center; }

.brunch {
  background-image: url("../images/basicBrunch.jpg"); }

@media only screen and (min-width: 500px) {
  .mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

  .section, .favSection {
    margin: 0px; } }

/*# sourceMappingURL=style.css.map */
