@import "variables.scss";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: $darkColor;
}

// nav
.nav{
	position: fixed;
	width: 100%;
	height: 55px;
	background-color: $darkColor;
}
.navContent{
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 500px;
}
.navLine{
	border: none;
	height: 1px;
	background-color: $midYellow;
	position: fixed;
	width: 100%;
}
.navImg{
	height: 50px;
	align-self: center;
}
.navOrder{
	width: 55px;
	margin: $navMargin;
}
.navArrow{
	width: 45px;
	margin: $navMargin;
}
.logOut{
	line-height: 80%;
	margin: $navMargin;
	width: 45px;
}

// page sections
.mainContent, .mainMenu{
	padding-top: 55px;
}
.section{
	@include allSections;
	height: 32vh;
	min-height: 150px;
}
.menuSection{
	@include allSections;
	height: 32vh;
	min-height: 150px;
}
.favSection{
	@include allSections;
	height: 46vh;
}
.favItems{
	width: 90%;
	align-self: center;
	padding: 15px 10px;
	background-color: $darkColor;
}
.menuOption{
	width: 90vw;
	max-width: 500px;
	margin: 0 auto;
	padding-top: 30px;
}

// buttons
.menuButton{
	background-color: $darkColor;
	color: $darkYellow;
	font-size: 30px;
	align-self: center;
	@include button;
}
.yellowButton{
	background-color: $darkYellow;
	color: $darkColor;
	@include button;
}

.yellowHeader{
	text-decoration: none;
	color: $darkYellow;
	@include text;
	@include serif;
}
.smallText{
	color: $lightYellow;
	font-size: 15px;
	padding-bottom: 5px;
	font-family: sans-serif;
}

// standalone
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
.clear{
	clear: both;
}
.alignCenter{
	align-self: center;
}
.flexJust{
	display: flex;
	justify-content: space-around;
}
.botPad{
	padding-bottom: 30px;
}

// Home page
.topHome{
	height: 75vh;
	width: 100%;
	display: flex;
	justify-content: center;
}
.bottomHome{
	height: 25vh;
	width: 100%;
	text-align: center;
}
.input{
	background-color: $lightYellow;
	width: 225px;
	font-size: 20px;
	border: none;
	margin: 10px;
}
.XlargeButton{
	background-color: $darkYellow;
	color: $darkColor;
	@include button;
	padding: 5px 90px;
}

.backgroundPop{
	width: 100%;
	width: 100%;
	background-color: $darkColor;
	opacity: 0.5;
	z-index: 99;
}
.display{
	display: none;
}
.popUp{
	background-color: $darkColor;
	width: 90vw;
	margin: 15px 5px;
}


// .overlay{
// 	position: fixed;
// 	top: 0px;
// 	left: 0px;
// 	width: 100%;
// 	height: 100%;
// 	background-color: $darkColor;
// 	opacity: 0.5;
// 	z-index: 100;
// 	display: none;
// }
// .popUp{
// 	width: 100%;
// 	margin: 0 auto;
// 	display: none;
// 	position: fixed;
// 	z-index: 101;
// }
// .cnt223{
// min-width: 600px;
// width: 600px;
// min-height: 150px;
// margin: 100px auto;
// background: #f3f3f3;
// position: relative;
// z-index: 103;
// padding: 15px 35px;
// border-radius: 5px;
// box-shadow: 0 2px 5px #000;
// }
// .cnt223 p{
// clear: both;
//     color: #555555;
//     /* text-align: justify; */
//     font-size: 20px;
//     font-family: sans-serif;
// }
// .cnt223 p a{
// color: #d91900;
// font-weight: bold;
// }
// .cnt223 .x{
// float: right;
// height: 35px;
// left: 22px;
// position: relative;
// top: -25px;
// width: 34px;
// }
// .cnt223 .x:hover{
// cursor: pointer;
// }

// Menu Options
.FnS{
	background-image: url("../images/tap.jpg");
	background-position: top center;
}
.drinks{
	background-image: url("../images/beer2.jpg");
}
.breakfast{
	background-image: url("../images/eggs.jpg");
}
.snacks{
	background-image: url("../images/wedges.jpg");
}
.BnS{
	background-image: url("../images/burger.jpg");
}
.pizza, .pizzaDeal{
	background-image: url("../images/pizza.jpg");
}
.dinner{
	background-image: url("../images/dinner.jpg");
}
.desserts{
	background-image: url("../images/icecream.jpg");
}
.kMenu{
	background-image: url("../images/nachos.jpg");
	background-position: bottom center;
}
.brunch{
	background-image: url("../images/basicBrunch.jpg");
}
.twoMains{
	background-image: url("../images/dinner.jpg");
}

@media only screen and (min-width: 500px){
	.mainContent{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.section{
		margin: 0px;
		width: 50vw;
	}
	.favSection{
		margin: 0px;
		max-height: 400px;
	}
	.menuSection{
		margin: 0 auto;
		flex: 6;
	}
}

@media only screen and (min-width: 1000px) {
	.navContent{
		max-width: 750px;
	}
	.menuOption{
		margin: 0px 15px;
	}
}
