@import "variables.scss";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: $darkColor;
}

// nav
.nav{
	position: fixed;
	width: 100%;
	height: 55px;
	background-color: $darkColor;
}
.navContent{
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 500px;
}
.navLine{
	border: none;
	height: 1px;
	background-color: $midYellow;
	position: fixed;
	width: 100%;
}
.navImg{
	height: 50px;
	align-self: center;
}
.navOrder{
	width: 55px;
	margin: $navMargin;
}
.navArrow{
	width: 45px;
	margin: $navMargin;
}
.logOut{
	line-height: 80%;
	margin: $navMargin;
	width: 45px;
}

// page sections
.mainContent, .mainMenu{
	padding-top: 55px;
	width: 100vw;
	height: 100vh;
}
.section{
	@include allSections;
	height: 32vh;
	min-height: 150px;
}
.menuSection{
	@include allSections;
	height: 32vh;
	min-height: 150px;
}
.favSection{
	@include allSections;
	height: 46vh;
}
.favItems{
	width: 90%;
	align-self: center;
	padding: 15px 10px;
	background-color: $darkColor;
}
.menuOption{
	width: 90vw;
	max-width: 500px;
	margin: 0 auto;
	padding-top: 30px;
}

// buttons
.menuButton{
	background-color: $darkColor;
	color: $darkYellow;
	font-size: 30px;
	align-self: center;
	@include button;
}
.yellowButton{
	background-color: $darkYellow;
	color: $darkColor;
	@include button;
	margin: 0px 5px;
}
.largeButton{
	background-color: $darkYellow;
	color: $darkColor;
	font-size: 25px;
	@include button;
}
.paymentButton{
	background-color: $darkYellow;
	color: $darkColor;
	font-size: 25px;
	width: 200px;
	margin: 15px 0px;
	@include button;
}

.yellowHeader{
	text-decoration: none;
	color: $darkYellow;
	@include text;
	@include serif;
}
.smallText{
	color: $lightYellow;
	font-size: 15px;
	padding-bottom: 5px;
	font-family: sans-serif;
}

// Home page
.topHome{
	height: 75vh;
	width: 100%;
	display: flex;
	justify-content: center;
}
.bottomHome{
	height: 25vh;
	width: 100%;
	text-align: center;
}
.loginWidth{
	width: 230px;
	margin: 0 auto;
}
.loginButton{
	background-color: $darkYellow;
	color: $darkColor;
	@include button;
	margin: 0px 5px;
	border: none;
	font-size: 18px;
}
.input{
	background-color: $lightYellow;
	font-size: 20px;
	border: none;
	margin: 7px;
}

// Pop Up Container
.popContainer, .popDError{
	width: 100vw;
	height: 100vh;
	position: fixed;
}
.backgroundPop{
	width: 100vw;
	height: 100vh;
	background-color: rgba(26, 26, 26, 0.6);
	z-index: 99;
	display: flex;
}
.popUp{
	background-color: $darkColor;
	margin: 0 auto;
	padding: 20px;
	align-self: center;
	z-index: 100;
}
.exit{
	width: 40px;
	height: 40px;
	float: right;
}
.crossLeft, .crossRight{
	@include cross;
}
.crossLeft{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}
.crossRight{
	transform: rotate(-45deg);
}

// stand alone
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
.clear{
	clear: both;
}
.alignCenter{
	align-self: center;
}
.flexJust{
	display: flex;
	justify-content: space-around;
}
.flexBetw{
	display: flex;
	justify-content: space-between;
}
.flexCol{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.botPad{
	padding-bottom: 30px;
}
.heightZero{
	height: 0px;
}
.display{
	display: none;
}

// Menu Options
.FnS{
	background-image: url("../images/tap.jpg");
	background-position: top center;
}
.drinks{
	background-image: url("../images/beer2.jpg");
}
.breakfast{
	background-image: url("../images/eggs.jpg");
}
.snacks{
	background-image: url("../images/wedges.jpg");
}
.BnS{
	background-image: url("../images/burger.jpg");
}
.pizza, .pizzaDeal{
	background-image: url("../images/pizza.jpg");
}
.dinner{
	background-image: url("../images/dinner.jpg");
}
.desserts{
	background-image: url("../images/icecream.jpg");
}
.kMenu{
	background-image: url("../images/nachos.jpg");
	background-position: bottom center;
}
.brunch{
	background-image: url("../images/basicBrunch.jpg");
}
.twoMains{
	background-image: url("../images/dinner.jpg");
}

@media only screen and (min-width: 500px){
	.mainContent{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.section{
		margin: 0px;
		width: 50vw;
	}
	.favSection{
		margin: 0px;
		max-height: 400px;
	}
	.menuSection{
		margin: 0 auto;
		flex: 6;
	}
}

@media only screen and (min-width: 1000px) {
	.navContent{
		max-width: 750px;
	}
	.menuOption{
		margin: 0px 15px;
	}
}
