$darkColor : #1a1a1a;
$darkYellow : #dabf8a;
$midYellow : #f7e1a8;
$lightYellow : #faf5e3;
$navPadding : 0px 7px;

@mixin text{
	font-size: 20px;
}

@mixin serif{
	font-family: bookmania, serif;
	font-style: normal;
	font-weight: 300;
}

@mixin button{
	text-decoration: none;
	padding: 5px 15px;
	border-radius: 5px;
	@include serif
}
