$darkColor : #1a1a1a;
$darkYellow : #dabf8a;
$midYellow : #f7e1a8;
$lightYellow : #faf5e3;
$navMargin : 0px 7px;

@mixin text{
	font-size: 20px;
}

@mixin serif{
	font-family: bookmania, serif;
	font-style: normal;
	font-weight: bold;
}

@mixin button{
	text-decoration: none;
	padding: 5px 15px;
	border-radius: 5px;
	@include serif
}

@mixin allSections{
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
	background-position: center center;
	background-size: cover;
	display: flex;
	justify-content: center;
}

@mixin cross {
	width: 100%;
	display: block;
	position: absolute;
	width: 40px;
	height: 5px;
	background-color: $midYellow;
	border: none;
	border-radius: 5px;
}
